main .center.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

main .center.content .image-container {
  height: auto;
  width: 300px;
  transition: 2s;
  border-radius: 350px / 255px;
  background-color: rgb(215, 236, 236);
}

main .content .image-container .img {
  width: 300px;
  clip-path: ellipse();
  display: block;
  transition: 2s;
}

main .content .image-container .img {
  width: 300px;
  clip-path: ellipse();
  display: block;
  transition: 2s;
}

