main .center.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

main .center.content .image-container {
  height: auto;
  width: 300px;
  transition: 2s;
  border-radius: 350px / 255px;
  background-color: rgb(215, 236, 236);
}

main .content .image-container .img {
  width: 300px;
  clip-path: ellipse();
  display: block;
  transition: 2s;
}

main .content .image-container .img {
  width: 300px;
  clip-path: ellipse();
  display: block;
  transition: 2s;
}

@media (max-width: 500px) {
  nav {
    background: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*     height: auto; */
  }

  nav .nav-links .links {
    margin-left: 2px;
  }

  nav .nav-links .links li a {
    padding: 4px 6px;
    text-transform: capitalize;
  }

  nav .nav-logo .logo {
    font-size: 28px;
  }

  nav .nav-logo {
    width: 66px;
    margin: 0px;
  }

  .scroll-aid {
    font-size: 25px;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    color: #c58e7f;
    visibility: visible;
  }

  .scroll-aid:hover {
    background-color: #c58e7f;
    color: white;
    border-radius: 5px;
  }

  .calc button {
    padding: 5px 10px;
    font-size: 15px;
  }
}

@media (max-width:852px) {
  nav {
    justify-content: space-between;
    flex-wrap: no-wrap;
  }

  nav .socials .icons {
    display: none;
  }

  nav .nav-logo {
    float: right;
  }

  main .center.content .image-container {
    height: auto;
    width: 250px;
    transition: 2s;
  }

  main .content .image-container .img {
    width: 250px;
    clip-path: ellipse();
    display: block;
    transition: 3s;
  }

  .into {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .calc {
    align-self: center;
  }
}